section.human {
  @include background-size(100% 100%);
}

.adeleyeIbukunFayo {
  background-image: url(../images/adeleyeIbukunFayo.jpg);
}

.adetolaLanre {
  background-image: url(../images/adetolaLanre.jpg);
}

.ahmedSam {
  background-image: url(../images/ahmedSam.jpg);
}

.ajithArchana {
  background-image: url(../images/ajithArchana.jpg);
}

.aliyuZai {
  background-image: url(../images/aliyuZai.jpg);
}

.anandSwathi {
  background-image: url(../images/anandSwathi.jpg);
}

.aniJibby {
  background-image: url(../images/aniJibby.jpg);
}

.auyeungAllison {
  background-image: url(../images/auyeungAllison.jpg);
}

.baileyJordan {
  background-image: url(../images/baileyJordan.jpg);
}

.behlRemy {
  background-image: url(../images/behlRemy.jpg);
}

.bergeronZach {
  background-image: url(../images/bergeronZach.jpg);
}

.boruKeerthi {
  background-image: url(../images/boruKeerthi.jpg);
}

.bouraiAbdelwahab {
  background-image: url(../images/bouraiAbdelwahab.jpg);
}

.brahmBella {
  background-image: url(../images/brahmBella.jpg);
}

.buchwaldMiriam {
  background-image: url(../images/buchwaldMiriam.jpg);
}

.buttRehan {
  background-image: url(../images/buttRehan.jpg);
}

.chambersDelaney {
  background-image: url(../images/chambersDelaney.jpg);
}

.changSabrina {
  background-image: url(../images/changSabrina.jpg);
}

.chenAmy {
  background-image: url(../images/chenAmy.jpg);
}

.chenAngeline {
  background-image: url(../images/chenAngeline.jpg);
}

.chenYutong {
  background-image: url(../images/chenYutong.jpg);
}

.chiuSamantha {
  background-image: url(../images/chiuSamantha.jpg);
}

.choMichelle {
  background-image: url(../images/choMichelle.jpg);
}

.chouMolly {
  background-image: url(../images/chouMolly.jpg);
}

.chukwumaJess {
  background-image: url(../images/chukwumaJess.jpg);
}

.ciavarellaRachel {
  background-image: url(../images/ciavarellaRachel.jpg);
}

.cliffordColleen {
  background-image: url(../images/cliffordColleen.jpg);
}

.criglerAmelia {
  background-image: url(../images/criglerAmelia.jpg);
}

.delarosaAlexis {
  background-image: url(../images/delarosaAlexis.jpg);
}

.deleonLynzky {
  background-image: url(../images/deleonLynzky.jpg);
}

.demlerAya {
  background-image: url(../images/demlerAya.jpg);
}

.edmondsIsaiah {
  background-image: url(../images/edmondsIsaiah.jpg);
}


.essexChristopher {
  background-image: url(../images/essexChristopher.jpg);
}

.felbingerBrenan {
  background-image: url(../images/felbingerBrenan.jpg);
}

.fieldsSaraRemi {
  background-image: url(../images/fieldsSaraRemi.jpg);
}

.frazerKatherine {
  background-image: url(../images/frazerKatherine.jpg);
}

.fritzMorgan {
  background-image: url(../images/fritzMorgan.jpg);
}

.gardnerDavid {
  background-image: url(../images/gardnerDavid.jpg);
}

.gershunyAndrea {
  background-image: url(../images/gershunyAndrea.jpg);
}

.goldsteinLauren {
  background-image: url(../images/goldsteinLauren.jpg);
}

.hackerEmmy {
  background-image: url(../images/hackerEmmy.jpg);
}

.hamiltonAlyssa {
  background-image: url(../images/hamiltonAlyssa.jpg);
}

.heXuran {
  background-image: url(../images/heXuran.jpg);
}

.hoKendra {
  background-image: url(../images/hoKendra.jpg);
}

.huangEileen {
  background-image:url(../images/huangEileen.jpg);
}

.huangGina {
  background-image: url(../images/huangGina.jpg);
}

.hwangJi {
  background-image:url(../images/hwangJi.jpg);
}

.ideraSade {
  background-image: url(../images/ideraSade.jpg);
}

.iottAlicia {
  background-image: url(../images/iottAlicia.jpg);
}

.jeffsAJ {
  background-image: url(../images/jeffsAJ.jpg);
}

.jonesWesley {
  background-image: url(../images/jonesWesley.jpg);
}

.josephKeith {
  background-image: url(../images/josephKeith.jpg);
}

.kangSnow {
  background-image: url(../images/kangSnow.jpg);
}

.kellyKeith {
  background-image: url(../images/kellyKeith.jpg);
}

.kimDaniel {
  background-image: url(../images/kimDaniel.jpg);
}

.kimHannah {
  background-image: url(../images/kimHannah.jpg);
}

.kimJay {
  background-image: url(../images/kimJay.jpg);
}

.kimJohn {
  background-image: url(../images/kimJohn.jpg);
}

.kodiNeha {
  background-image: url(../images/kodiNeha.jpg);
}

.kongLiana {
  background-image:url(../images/kongLiana.jpg);
}

.liangAngela {
  background-image: url(../images/liangAngela.jpg);
}

.liArissa {
  background-image: url(../images/liArissa.jpg);
}

.linJarret {
  background-image: url(../images/linJarret.jpg);
}

.liuBecki {
  background-image: url(../images/liuBecki.jpg);
}

.merskiOshie {
  background-image: url(../images/merskiOshie.jpg);
}

.michelLaurel {
  background-image: url(../images/michelLaurel.jpg);
}

.millermanAnna {
  background-image: url(../images/millermanAnna.jpg);
}

.moiseStephane {
  background-image: url(../images/moiseStephane.jpg);
}

.nelsonJillian {
  background-image: url(../images/nelsonJillian.jpg);
}

.onoAntonio {
  background-image: url(../images/onoAntonio.jpg);
}

.paparisDanae {
  background-image: url(../images/paparisDanae.jpg);
}

.parrinelloSophie {
  background-image: url(../images/parrinelloSophie.jpg); 
}

.patelChanda {
  background-image: url(../images/patelChanda.jpg);
}

.quadriFeyi {
  background-image: url(../images/quadriFeyi.jpg);
}

.ragazzoKira {
  background-image: url(../images/ragazzoKira.jpg);
}

.ratanalertChanamon {
  background-image: url(../images/ratanalertChanamon.jpg);
}

.rayShalini {
  background-image: url(../images/rayShalini.jpg);
}

.sandforthJolyn {
  background-image: url(../images/sandforthJolyn.jpg);
}

.shcloverNika {
  background-image: url(../images/shcloverNika.jpg);
}

.shenCecilia {
  background-image: url(../images/shenCecilia.jpg);
}

.shenJessica {
  background-image: url(../images/shenJessica.jpg);
}

.singhShana {
  background-image: url(../images/singhShana.jpg);
}

.songVictor {
  background-image: url(../images/songVictor.jpg);
}

.sunSteven {
  background-image: url(../images/sunSteven.jpg);
}

.tamayoCarolina {
  background-image: url(../images/tamayoCarolina.jpg);
}

.taylorAmaya {
  background-image: url(../images/taylorAmaya.jpg);
}

.thomasLeila {
  background-image: url(../images/thomasLeila.jpg);
}

.townsendCharlotte {
  background-image: url(../images/townsendCharlotte.jpg);
}

.umNoel {
  background-image: url(../images/umNoel.jpg);
}

.uphoffJessica {
  background-image: url(../images/uphoffJessica.jpg);
}

.walkerAlex {
  background-image: url(../images/walkerAlex.jpg);
}

.wangJason {
  background-image: url(../images/wangJason.jpg);
}

.winthrowJenna {
  background-image: url(../images/winthrowJenna.jpg);
}

.wolffNoa {
  background-image: url(../images/wolffNoa.jpg);
}

.wooSohee {
  background-image: url(../images/wooSohee.jpg);
}

.yeAlice {
  background-image: url(../images/yeAlice.jpg);
}

.yerlanDina {
  background-image: url(../images/yerlanDina.jpg);
}

.yoonJane {
  background-image: url(../images/yoonJane.jpg);
}

.zemeringLauren {
  background-image: url(../images/zemeringLauren.jpg);
}

.zhaoKatherine {
  background-image: url(../images/zhaoKatherine.jpg);
}

.zhengCatherine {
  background-image: url(../images/zhengCatherine.jpg);
}
