@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: SourceSansPro;
  src: url(../fonts/SourceSansPro-Regular.ttf);
}
@font-face {
  font-family: FuturaPT;
  src: url(../fonts/FuturaPT-Book.otf);
}
@font-face {
  font-family: Cousine;
  src: url(../fonts/Cousine-Regular.ttf);
}
@font-face {
  font-family: Cousine-Bold;
  src: url(../fonts/Cousine-Bold.tff);
}
a {
  padding-left: 0.2em;
  padding-right: 0.2em;
}

header {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
header a {
  font-family: Cousine, sans-serif;
  font-size: 12pt;
  line-height: 1.5em;
  text-decoration: none;
  white-space: nowrap;
}

.nav {
  color: #000000;
}

.contentWrapper h1 {
  font-family: FuturaPT, sans-serif;
  font-size: 14pt;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  padding-bottom: 0.5em;
}
.contentWrapper h2 {
  font-family: FuturaPT, sans-serif;
  font-size: 14pt;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 1.5em;
}
.contentWrapper p {
  font-family: SourceSansPro, sans-serif;
  font-size: 14pt;
  line-height: 1.5em;
  margin-bottom: 1em;
}
.contentWrapper a {
  text-decoration: none;
}

#intro {
  background-color: #3b504f;
}
#intro a {
  color: #3b504f;
  background-color: #eeebe1;
}
#intro a:hover {
  color: #eeebe1;
  background-color: #3b504f;
}
#intro p {
  color: #eeebe1;
}
#intro h1, #intro h2 {
  color: #eeebe1;
}

#pnc {
  background-color: #f7f8f9;
  transition: opacity 0.5s;
}
#pnc a {
  color: #f7f8f9;
  background-color: #2a6296;
}
#pnc a:hover {
  color: #2a6296;
  background-color: #f7f8f9;
}
#pnc p {
  color: #333333;
}
#pnc h1, #pnc h2 {
  color: #2a6296;
}

#vestige {
  background-color: #ffffff;
}
#vestige a {
  color: #ffffff;
  background-color: #111111;
}
#vestige a:hover {
  color: #111111;
  background-color: #ffffff;
}
#vestige p {
  color: #333333;
}
#vestige h1, #vestige h2 {
  color: #111111;
}

#blur {
  background-color: #111111;
}
#blur a {
  color: #111111;
  background-color: #333333;
}
#blur a:hover {
  color: #333333;
  background-color: #111111;
}
#blur p {
  color: #ffffff;
}
#blur h1, #blur h2 {
  color: #333333;
}

#ballroom {
  background-color: #32343b;
}
#ballroom a {
  color: #32343b;
  background-color: #dbb5c6;
}
#ballroom a:hover {
  color: #dbb5c6;
  background-color: #32343b;
}
#ballroom p {
  color: #ffffff;
}
#ballroom h1, #ballroom h2 {
  color: #dbb5c6;
}

.resume {
  background-color: #eeebe1;
}
.resume a {
  color: #eeebe1;
  background-color: #3b504f;
}
.resume a:hover {
  color: #3b504f;
  background-color: #eeebe1;
}
.resume p, .resume li {
  color: #333333;
}
.resume h1, .resume h2 {
  color: #3b504f;
}
.resume div {
  padding-bottom: 1.5em;
}
.resume p, .resume li {
  font-family: SourceSansPro, sans-serif;
  font-size: 14pt;
  line-height: 1.5em;
  padding-left: 4em;
  margin-bottom: 0;
}
.resume h2 {
  font-family: SourceSansPro, sans-serif;
  font-size: 14pt;
  line-height: 1.5em;
  letter-spacing: 0;
  text-transform: none;
}
.resume li {
  padding-left: 4em;
  text-indent: -1.2em;
}
.resume li:before {
  content: "►  ";
  font-size: 8pt;
  padding-right: 1em;
}
.resume ul {
  list-style: none outside none;
}

#passwordModal {
  background-color: #2a6296;
  color: #f7f8f9;
}
#passwordModal #pwButton {
  background-color: #2a6296;
  color: #f7f8f9;
  border-color: #f7f8f9;
}
#passwordModal #pwbutton:hover {
  background-color: #f7f8f9;
  color: #2a6296;
  border-color: #2a6296;
}

html, body {
  height: 100%;
}

header {
  text-align: right;
  z-index: 999;
}
header a {
  position: fixed;
  right: 67.7777777778%;
  transition: top 0.5s ease-in-out;
}
@media (max-width: 48rem) {
  header a {
    position: relative;
    right: inherit;
    padding: 2.5% 0;
  }
}
@media (max-width: 48rem) {
  header {
    text-align: left;
    position: fixed;
  }
  header li {
    padding: 2.5% 0;
  }
}

.desktop {
  display: block;
}
@media (max-width: 48rem) {
  .desktop {
    display: none;
  }
}

.mobile {
  display: none;
}
@media (max-width: 48rem) {
  .mobile {
    display: block;
  }
}

@media (max-width: 48rem) {
  nav {
    width: 18rem;
    display: none;
    padding: 2.5% 1rem;
  }
}

#menuIcon {
  width: 2rem;
}
@media (min-width: 48rem) {
  #menuIcon {
    display: none;
  }
}

#menuIcon:hover, #menuClose:hover {
  animation: wiggle 0.5s;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(12deg);
  }
  75% {
    transform: rotate(-12deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
#menuClose {
  width: 2rem;
  display: none;
}

#menuBackground {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 997;
}

section {
  width: 43.3333333333%;
  float: right;
  padding-right: 21.1111111111%;
  padding-left: 48.8888888889%;
  transition: filter 0.2s;
}
@media (max-width: 48rem) {
  section {
    width: 90%;
    float: none;
    position: relative;
    padding: 5%;
  }
}

body {
  background-color: #eeebe1;
  transition: background-color 0.5s ease-in-out;
}

.lazyload img {
  opacity: 0.2;
  transition: opacity, 0.5s ease-in-out;
}

video {
  max-width: 100%;
  margin-bottom: 1em;
}

.badge {
  max-width: 30%;
  padding: 9%;
}
@media (max-width: 70rem) {
  .badge {
    max-width: 40%;
    padding: 3.5%;
  }
}

#passwordModal {
  z-index: 998;
  display: none;
  width: 43.3333333333%;
  padding: 3rem;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  margin-top: 0;
  margin-left: 35.5555555556%;
}
@media (max-width: 48rem) {
  #passwordModal {
    width: 80%;
    padding: 5%;
    margin-left: 5%;
  }
}
@media (min-width: 96rem) {
  #passwordModal {
    width: 42rem;
  }
}
#passwordModal h3 {
  font-family: Cousine, sans-serif;
  font-size: 12pt;
  line-height: 1.5em;
  text-align: center;
  margin-bottom: 1rem;
}
#passwordModal input {
  display: block;
  width: 60%;
  margin: 0 auto;
  padding: 0.5rem 0.3rem;
  margin-bottom: 1.5rem;
  text-align: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 0;
}
#passwordModal #pwButton {
  width: 6rem;
  margin: 0 auto;
  margin-bottom: 0;
  margin-top: 2rem;
  font-family: Cousine, sans-serif;
  font-size: 12pt;
  line-height: 1.5em;
  border: 2px solid;
  box-shadow: none;
}

.album img {
  width: 48%;
  margin-right: 1.6%;
  margin-bottom: 1.6%;
}
@media (max-width: 66rem) {
  .album img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 5%;
  }
}

.owl-carousel {
  margin-bottom: 2rem;
  margin-top: 1rem;
}

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
.owl-carousel, .owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.owl-carousel {
  display: none;
  width: 100%;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item, .owl-carousel .owl-wrapper {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
  display: none;
}

.no-js .owl-carousel, .owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

.owl-carousel .animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.owl-height {
  transition: height 0.5s ease-in-out;
}

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 0.4s ease;
}

.owl-carousel .owl-item .owl-lazy:not([src]), .owl-carousel .owl-item .owl-lazy[src^=""] {
  max-height: 0;
}

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url(owl.video.play.png) no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 0.1s ease;
}

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-play-icon, .owl-carousel .owl-video-playing .owl-video-tn {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 0.4s ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
