body .content section.designs.intension{
  background-image: url("lines/1-intension.png");
}
body .content section.designs.lustre{
  background-image: url("lines/2-lustre.png");
}
body .content section.designs.theWealthySlums{
  background-image: url("lines/3-wealthoftheslums.png");
}
body .content section.designs.exoskeleton{
  background-image: url("lines/4-exoskeleton.png");
}
body .content section.designs.cakery{
  background-image: url("lines/5-cakery.png");
}
body .content section.designs.letsPlay{
  background-image: url("lines/6-letsplay.png");
}
body .content section.designs.uncover{
  background-image: url("lines/7-uncover.png");
}
body .content section.designs.mashinka{
  background-image: url("lines/8-mashinka.png");
}
body .content section.designs.soulStylz{
  background-image: url("lines/soulStylz.png");
}
body .content section.designs.bound{
  background-image: url("lines/9-bound.png");
}
body .content section.designs.mas-querade{
  background-image: url("lines/10-masquerade.png");
}
body .content section.designs.dressedToKill{
  background-image: url("lines/11-dressedtokill.png");
}
body .content section.designs.till{
  background-image: url("lines/12-till.png");
}
body .content section.designs.morph{
  background-image: url("lines/13-morph.png");
}
body .content section.designs.revive{
  background-image: url("lines/14-revive.png");
}
body .content section.designs.totsiens{
  background-image: url("lines/15-totsiens.png");
}
body .content section.designs.cleen{
  background-image: url("lines/16-cleen.png");
}
body .content section.designs.tact{
  background-image: url("lines/17-tact.png");
}
body .content section.designs.lgDance{
  background-image: url("lines/lgDance.png");
}
body .content section.designs.beora{
  background-image: url("lines/18-beora.png");
}
body .content section.designs.sinew{
  background-image: url("lines/19sinew.png");
}
body .content section.designs.menagerie{
  background-image: url("lines/20-menagerie.png");
}
body .content section.designs.rift{
  background-image: url("lines/21-rift.png");
}
