@font-face {
	font-family: SourceSansPro;
	src: url(../fonts/SourceSansPro-Regular.ttf);
}

@font-face {
	font-family: FuturaPT;
	src: url(../fonts/FuturaPT-Book.otf);
}

@font-face {
	font-family: Cousine;
	src: url(../fonts/Cousine-Regular.ttf);
}

@font-face {
	font-family: Cousine-Bold;
	src: url(../fonts/Cousine-Bold.tff);
}

@mixin typeBody {
	font-family: SourceSansPro, sans-serif;
	font-size: 14pt;
	line-height: 1.5em;
}

@mixin typeNav {
	font-family: Cousine, sans-serif;
	font-size: 12pt;
	line-height: 1.5em;
}

@mixin typeHeader {
	font-family: FuturaPT, sans-serif;
	font-size: 14pt;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	line-height: 1.5em;
}

@mixin typeDisplay {
	font-family: Cousine, sans-serif;
	line-height: 1.5em;
	font-weight: 700;
	font-size: 14pt;
	letter-spacing: 0.1em;
	
	@media (min-width: 40em) {
		font-size: 14pt;
	}
	
	@media (min-width: 85em) {
		font-size: 14pt;
	}
}

a {
	padding-left: .2em;
	padding-right: .2em;
}

header {
	a {
		@include typeNav;
		text-decoration: none;
		white-space: nowrap;
	}
}

.nav {
	color: #000000;
}

.contentWrapper {
	h1 {
		@include typeHeader;
		padding-bottom: .5em;
	}
	h2 {
		@include typeHeader;
	}
	p {
		@include typeBody;
		margin-bottom: 1em;
	}
	a {
		text-decoration: none;
	}
}

.resume {
	div {
		padding-bottom: 1.5em;
	}
	p {
		padding-left: 4em;
		margin-bottom: 0;
	}
	h2 {
		@include typeBody;
		letter-spacing: 0;
		text-transform: none;
	}
}