body {
	background-color: #fff;
}

.interview {
	margin-left: 5%;
	margin-right: 5%;
}

img {
	min-width: 100%;
	width: 100%;
	margin-bottom: 1em;
}

.header {
	margin-bottom: 2em;
}

.reveal {
	margin-bottom: 0;
}

@media (min-width: 30em) {
	.interview {
		width: 70%;
		margin-left: auto;
		margin-right: auto;
	}
}


@media (min-width: 70em) {
	.main-content {
		width: 63em;
		margin: 10em auto 0;
	}
	
	.interview {
		width: 21em;
		vertical-align: bottom;
		display: inline-block;
		margin-left: -1em;
	}
	
	img {
		min-width: 70%;
		width: 70%;
		clear: both;
		vertical-align: bottom;
		display: inline-block;
		margin-bottom: 1.5em;
		margin-left: -3em;
	}
	
	.interview-wrapper {
		float: left;
		margin-bottom: 30em;
		clear: both;
	}
	
	footer {
		width: inherit;
	
		img {
			width: 100%;
			float: none;
			margin: 0;
		}
	}
}