@page {
	margin: 25mm;
}

.ellen p {
	font-size: 10pt;
	font-family: "courier new";
	width: 70%;
	margin: 0 auto 1em;
	line-height: 1.5em;
}

.phil p {
	font-size: 10pt;
	font-family: "cousine";
	width: 70%;
	margin: 0 auto 1em;
	line-height: 1.5em;
}

.bryan p {
	font-size: 10pt;
	font-family: "anonymous pro";
	font-weight: 300;
	width: 70%;
	margin: 0 auto 1em;
	line-height: 1.5em;
}

.quote {
	font-style: italic;
}

img {
	width: 100%;
	margin-bottom: 1em;
	page-break-before: always;
}

footer {
	img {
		width: 100%;
	}
}