.ellen {
	p {
		font-family: "courier new";
		font-weight: 100;
		font-size: 12pt;
		margin-bottom: 1em;
		line-height: 1.5em;
	}
	
	.quote {
		font-style: italic;
	}
}

.phil {
	p {
		font-family: "cousine";
		font-weight: 100;
		font-size: 12pt;
		margin-bottom: 1em;
		line-height: 1.5em;
	}
	
	.quote {
		font-style: italic;
	}
}

.bryan {
	p {
		font-family: "anonymous pro";
		font-weight: 300;
		font-size: 12pt;
		margin-bottom: 1em;
		line-height: 1.5em;
	}
	
	.quote {
		font-style: italic;
	}
}